.chatListItem-container {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 70px;
}

.chatListItem-container:hover {
  background-color: #f5f5f5;
}

.chatListItem-container.active {
  background-color: #ebebeb;
}

.chatListItem-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 15px;
}

.chatListItem-conteudo {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 1px solid #eee;
  padding: 5px 15px 5px 0px;
  margin-left: 15px;

  flex-wrap: wrap;
  min-width: 0;
}

.chatListItem-conteudo-cima {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.chatListItem-nome {
  font-size: 17px;
  color: #000
}

.chatListItem-horario {
  font-size: 14px;
  color: #999
}

.chatListItem-conteudo-baixo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.chatListItem-ultimasMenssagem {
  font-size: 14px;
  color: #999;
  display: flex;
  width: 90%;
  padding-right: 25px;
}

.chatListItem-ultimasMenssagem p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}

.chatListItem-numMenssagens {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  border-radius: 20px;
  padding: 2px 6px;
  background-color: #00b3ff;
  justify-content: center;
  align-items: center;
}
